<%- include('partials/head') %>
<%- include('partials/navbar') %>
<body>
	<h1 class="center-align">Hello <%= data.name %>!</h1>
    <h4 class="center-align">Email: <%= data.email %></h4>

	<%- include('partials/footer') %>
</body>
